[package]
name = "rezolus"
version = "2.10.1-alpha.1"
authors = ["Brian Martin <bmartin@twitter.com>"]
license = "Apache-2.0"
build = "build.rs"
publish = false
edition = '2018'
description = "High resolution systems performance telemetry agent"

[dependencies]
anyhow = "1.0.38"
async-trait = "0.1.42"
bcc = { version = "0.0.30", optional = true }
clap = "2.33.3"
ctrlc = { version = "3.1.7", features = ["termination"] }
dashmap = "4.0.1"
json = "0.12.4"
kafka = { version = "0.8.0", optional = true }
libc = "0.2.82"
num = "0.3.1"
num-derive = "0.3.3"
num-traits = "0.2.14"
nvml-wrapper = "0.7.0"
regex = "1.4.2"
reqwest = { version = "0.11.0", features = ["blocking"] }
rustcommon-atomics = { git = "https://github.com/twitter/rustcommon", branch = "master" }
rustcommon-logger = { git = "https://github.com/twitter/rustcommon", branch = "master" }
rustcommon-metrics = { git = "https://github.com/twitter/rustcommon", branch = "master" }
serde = "1.0.118"
serde_derive = "1.0.118"
strum = "0.20.0"
strum_macros = "0.20.1"
sysconf = "0.3.4"
tiny_http = "0.7.0"
tokio = { version = "1.0.1", features = ["full"] }
toml = "0.5.8"
uuid = "0.8.2"
walkdir = "2.3.1"

[build-dependencies]
vergen = "3.1.0"

[features]
all = ["bpf", "push_kafka"]
default = []
bpf = ["bcc"]
bpf_static = ["bpf", "bcc/static"]
bpf_static_llvm_8 = ["bpf", "bcc/llvm_8", "bcc/static"]
bpf_static_llvm_9 = ["bpf", "bcc/llvm_9", "bcc/static"]
bpf_v0_8_0 = ["bpf", "bcc/v0_8_0"]
bpf_v0_9_0 = ["bpf", "bcc/v0_9_0"]
bpf_v0_10_0 = ["bpf", "bcc/v0_10_0"]
bpf_v0_11_0 = ["bpf", "bcc/v0_11_0"]
bpf_v0_12_0 = ["bpf", "bcc/v0_12_0"]
bpf_v0_13_0 = ["bpf", "bcc/v0_13_0"]
bpf_v0_14_0 = ["bpf", "bcc/v0_14_0"]
bpf_v0_15_0 = ["bpf", "bcc/v0_15_0"]
bpf_v0_16_0 = ["bpf", "bcc/v0_16_0"]
push_kafka = ["kafka"]

[profile.bench]
debug = true
lto = true
codegen-units = 1

[profile.release]
debug = true
lto = true
codegen-units = 1
