[package]
name = "rezolus"
version = "2.3.1-alpha.0"
authors = ["Brian Martin <bmartin@twitter.com>"]
license = "Apache-2.0"
build = "build.rs"
publish = false
edition = '2018'
description = "High resolution systems performance telemetry agent"

[dependencies]
async-trait = "0.1.23"
bcc = { version = "0.0.17", optional = true }
chashmap = "2.2.2"
clap = "2.33.0"
ctrlc = { version = "3.1.3", features = ["termination"] }
failure = "0.1.6"
json = "0.12.1"
kafka = { version = "0.8.0", optional = true }
perfcnt = { version = "0.5.0", optional = true }
regex = "1.3.4"
rustcommon-atomics = { git = "https://github.com/twitter/rustcommon", branch = "master" }
rustcommon-logger = { git = "https://github.com/twitter/rustcommon", branch = "master" }
rustcommon-metrics = { git = "https://github.com/twitter/rustcommon", branch = "master" }
serde = "1.0.114"
serde_derive = "1.0.114"
strum = "0.17.1"
strum_macros = "0.17.1"
sysconf = "0.3.4"
time = "0.1.42"
tiny_http = "0.6.2"
tokio = { version = "0.2.11", features = ["full"] }
toml = "0.5.6"
uuid = "0.8.1"
walkdir = "2.3.1"

[build-dependencies]
vergen = "3.0.4"

[features]
all = ["bpf", "push_kafka", "perf"]
default = ["perf"]
bpf = ["bcc"]
bpf_static = ["bpf", "bcc/static"]
bpf_v0_8_0 = ["bpf", "bcc/v0_8_0"]
bpf_v0_9_0 = ["bpf", "bcc/v0_9_0"]
bpf_v0_10_0 = ["bpf", "bcc/v0_10_0"]
bpf_v0_11_0 = ["bpf", "bcc/v0_11_0"]
bpf_v0_12_0 = ["bpf", "bcc/v0_12_0"]
bpf_v0_13_0 = ["bpf", "bcc/v0_13_0"]
perf = ["perfcnt"]
push_kafka = ["kafka"]

[profile.bench]
debug = true
lto = true
codegen-units = 1

[profile.release]
debug = true
lto = true
codegen-units = 1
