[general]
fault_tolerant = false
listen = "0.0.0.0:4242"

[samplers]
[samplers.cpu]
enabled = true
perf_events = true

[samplers.disk]
bpf = true
enabled = true

[samplers.ext4]
bpf = true
enabled = true

[samplers.interrupt]
enabled = true

[samplers.memory]
enabled = true

[samplers.network]
bpf = true
enabled = true

[samplers.rezolus]
enabled = true

[samplers.scheduler]
bpf = true
perf_events = true

[samplers.softnet]
enabled = true

[samplers.tcp]
bpf = true
enabled = true

[samplers.udp]
enabled = true

[samplers.xfs]
# no xfs present on ci
# bpf = true
enabled = true