[general]
fault_tolerant = false
listen = "0.0.0.0:4242"

[samplers]
[samplers.cpu]
enabled = false
perf_events = false

[samplers.disk]
bpf = true
enabled = true

[samplers.ext4]
bpf = true
enabled = true

[samplers.interrupt]
enabled = true

[samplers.memory]
enabled = true

[samplers.network]
bpf = true
enabled = true

[samplers.rezolus]
enabled = true

[samplers.scheduler]
bpf = true
enabled = true
perf_events = true

[samplers.softnet]
enabled = true

[samplers.tcp]
bpf = true
enabled = true

[samplers.udp]
enabled = true

[samplers.xfs]
bpf = false # no xfs present on ci, keep BPF disabled
enabled = true