[general]
listen = "0.0.0.0:4242"
# the default interval between samples, in milliseconds
interval = 1000
# set number of worker threads for running samplers
threads = 1

[samplers]
[samplers.cpu]
# enable the cpu sampler
enabled = true
# enable perf_events telemetry
perf_events = true
# the complete set of statistics can be specified
statistics = [
	"cpu/cache/access",
	"cpu/cache/miss",
	"cpu/cycles",
	"cpu/instructions",
	"cpu/reference_cycles",
	"cpu/usage/user",
	"cpu/usage/system",
	"cpu/usage/idle",
	"cpu/cstate/c0/time",
]

[samplers.disk]
# enable the bpf telemetry
bpf = true
# enable the disk sampler
enabled = true
# the complete set of percentiles can be specified
percentiles = [
	"p10",
	"p50",
	"p90",
]

[samplers.ext4]
bpf = true
enabled = true

[samplers.interrupt]
enabled = true

[samplers.memory]
enabled = true

[samplers.network]
bpf = true
enabled = true

[samplers.rezolus]
enabled = true

[samplers.scheduler]
bpf = true
perf_events = true

[samplers.softnet]
enabled = true

[samplers.tcp]
bpf = true
enabled = true

[samplers.udp]
enabled = true

[samplers.xfs]
bpf = true
enabled = true